    /* ТІЛО */

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



    /* РЕЄСТРАЦІЯ */

.registration-form {
    background: var(--box_color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}

.registration-form h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px); /* 50% ширини з відступами */
}

.form-group-full {
    width: 100%;
}

.registration-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.registration-form input {
    padding: 10px;
    border: 1px solid var(--box_color_hover);
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.checkbox-group a {
    color: #007bff;
    text-decoration: none;
}

.checkbox-group a:hover {
    text-decoration: underline;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent);
    color: var(--textcolor_light);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: var(--accent_hover);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}





    /*  ЛОГІН */

.login-form {
    background: var(--box_color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--box_color_hover);
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent);
    color: var(--textcolor_light);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: var(--accent_hover);
}

.login-form .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.login-form .links {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-form .links a {
    color: #007bff;
    text-decoration: none;
}

.login-form .links a:hover {
    text-decoration: underline;
}





    /* ПІДТВЕРДЖЕННЯ РЕЄСТРАЦІЇ */

.container {
    flex: 1;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--box_color);
    border-radius: 8px;
    box-shadow: var(--shadow);
    text-align: center;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--textcolor_light);
    background-color: var(--header_footer);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.container a:hover {
    background-color: var(--header_footer_hover);
}

.error-message {
    color: red;
    margin-top: 10px;
}

.input-field {
    padding-left: 10px;  /* Відступ зліва */
    padding-right: 10px; /* Відступ справа */
    box-sizing: border-box;  /* Включає padding в ширину */
}





    /* НОВИЙ ПАРОЛЬ */

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--box_color);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group-new {
    margin-bottom: 15px;
}

.form-group-new label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group-new input {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--box_color_hover);
    border-radius: 5px;
}

.form-group-new input:focus {
    outline: none;
    border-color: var(--accent);
}

.submit-btn {
    width: 100%;
    background-color: var(--accent);
    color: var(--textcolor_light);
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: var(--accent_hover);
}

.form-footer {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 15px;
}





    /* РЕСЕТ ПАРОЛЮ */

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px;
    font-size: 16px;
    color: var(--textcolor_light);
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--accent_hover);
}





    /* ФІДБЕК ФОРМА */

.feedback_form {
    background-color: var(--box_color);
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--box_color_hover);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.feedback_form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.feedback_form input, .feedback_form textarea, .feedback_form button {
    width: calc(100% - 20px);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.feedback_form textarea {
    resize: none;
}

.feedback_form button {
    background-color: var(--accent);
    color: var(--textcolor_light);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.feedback_form button:hover {
    background-color: var(--accent_hover);
}





    /* СПІНЕР */

#loading-spinner {
    display: none;  /* Спочатку прихована */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Центруємо спінер */
    background-color: rgba(0, 0, 0, 0.5); /* Прозорий фон */
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Перекриває інші елементи */
}
#loading-spinner img {
    max-width: 100px;  /* Задайте потрібний розмір спінера */
}